{% extends 'main/index.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <h2>Вход в систему</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.username.label }}<br>
        {{ form.username }}<br>
        {{ form.password.label }}<br>
        {{ form.password }}<br>
        <button type="submit">Войти</button>
    </form>
</body>
</html>
